* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
  }
  
  /* Banner */
  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/smk.jpg");
    background-position: center;
    background-size: cover;
    position: relative
  }
  
  /* Navbar */
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    width: 150px;
  }
  
  .nav-links {
    flex-wrap: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-box h1 {
    font-size: 75px;
    font-family: Phenomena;
    color: #fff;
  }
  
  .text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
  }
  
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .hero-btn:hover {
    border: 1px solid #fff;
    background: #0d6efd;
    transition: 1s;
    color: #fff;
  }
  
  nav .fa {
    display: none;
  }
  
  /* Responsive Navbar */
  @media(max-width: 700px) {
    .text-box h1 {
      font-size: 50px;
      font-family: Phenomena;
    }
  
    .nav-links ul li {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      background: #0d6efd;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
  
    nav .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  
    .nav-links ul {
      padding: 30px;
    }
  
  }

  /* Footer */
.container-footer {
    max-width: 1170px;
    margin: auto;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer {
    background-color: rgba(27, 27, 27, 1);
    padding: 70px 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0d6efd;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #0d6efd;
    padding-left: 8px;
  }
  
  .footer-col .social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 10px 10px 0;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-media a:hover {
    color: rgba(80, 82, 243, 0.8);
    background-color: rgba(236, 236, 236, 0.8);
  }
  
  .fixed-footer {
    width: 100%;
    position: relative;
    background: #333;
    margin: 0 10px 10px 0;
    padding: 10px 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  
  .fixed-footer {
    bottom: 0;
  }
  
  /* responsive Footer*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }