.banner {
    no-reprat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: rgb(255, 255, 255);
}
.crop-img {
    object-fit: 500px;
    width: 500px;
    height: 500px;
}
